@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dino Time</h1>
    <p class="lead">Welcome to Dinosaur world</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            This website is gonna teach and show you things about dinosuars.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Dino info</h2>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Dinosaur">Learn more &raquo;</a></p>
    </div>
</div>